# Django
SECRET_KEY=replace-with-your-own-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
TIME_ZONE=Europe/London

# Local SQLite database
SQLITE_DB_NAME=db.sqlite3

# Production examples
CSRF_TRUSTED_ORIGINS=
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False